body {
  background-image: url(../css/image/image2.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-size: 20px;
  color: navy;
}
h2 {
  font-size: 40px;
  color: teal;
}

.dice {
  border: 2px solid navy;
  background-color: white;
  font-size: 16px;
  display: block;
  padding: 20px;
}

.rollDice{
  background-color: gray;
 border: 2px solid black;
 color: black;
 padding: 15px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 15px;
}

.score {
  background-color: gray;
 border: 2px solid black;
 color: black;
 padding: 15px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 15px;
}
#player1Roll{
  background-color: gray;
 border: 2px solid black;
 color: black;
 padding: 15px;
 text-align: center;
 display: inline-block;
 font-size: 15px;
}
#player2Roll{
  background-color: gray;
 border: 2px solid black;
 color: black;
 padding: 10px;
 text-align: center;
 display: inline-block;
 font-size: 15px;
}
#newGame {
  position: relative;
  left: 30%;
  padding: 30px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
  margin: 50px;
}
